#Footer{
   margin-top: 7%;
   background-color: #331313;
   color: white;
}

/* #Footer div{
   border: 1px solid white;
} */

.Footerlogo{
   padding: 2%;
}

@media (max-width: 991px){
   .Footerlogo.justify-content-end{
      justify-content: center !important;
   }
}

.Footerlogo img{
   height: 100px;
}

.Footercontact{
   font-family: 'Aladdin';
}

.Footersocial{
   margin:2% 0;
}

.Footersocial img{
   height: 40px;
   border-radius: 100px;
}