#Footer{
   margin-top: 7%;
   background-color: #331313;
   color: white;
}

/* @media (max-width: 991px){
   .Footerlogo.justify-content-end{
      justify-content: center !important;
   }
} */

.Footercontact{
   font-family: 'Aladdin';
}

.Footersocial{
   margin:2% 0;
}

.Footersocial img{
   height: 40px;
   border-radius: 100px;
}