.Gallerybackground {
    background-color: black;
    position: relative;
    top: -70px;
}

.Categorybutton.col-4 {
    padding: 0;
}

.Categorybutton.col-4 button {
    width: 100%;
}

.Galleryimgs{
    min-height: 100vh;
    padding: 5% 0;
}

.img-thumbnail{
    padding: 1px !important;
}

ul.dropdown-menu.show {
    width: 100%;
}

.dropdown-menu {
    padding: 0 !important;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-family: "Kaushan";
    background-color: #441c1c !important;
    color: white !important;
}

Select {
    background-color: #331313 !important;
    font-family: 'Aladdin' !important;
    font-size: 1.5rem !important;
    border: none !important;
    color: white !important;
}

.custom-select:focus{
    border: none;
    box-shadow: none !important;
}

Select>option {
    font-size: 1.2rem !important;
}

div select option:hover {
    background-color: white;
}

/* Imagenes */

.ImageLoaded{
    height: 100% !important;
}

.OpenImage{
    height: 100% !important;
}

/* Paginacion */

.page-item.Boxnumber.disabled .page-link.Boxlink{
    color: white !important;
    background-color: #331313 !important;
    border-color: transparent;
}

.page-link.Boxlink {
    color: white !important;
    background-color: #331313 !important;
    border: none !important;
}

.page-link.Boxlink:hover, .page-link.Boxlink:focus, .page-item.Boxnumber.active .page-link.Boxlink{
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;
}

.pagination {
    margin: 30px 0;
}

/* Previsualizacion de la imagen */

.card {
    margin: auto;
}

.CardSize {
    height: 200px;
}

.Imgpreview, .Imgpreview .card{
    padding: 1.2rem;
}

.card-body-artist{
    padding-bottom: 0 !important;   
}

.ArtistProfile {
    background-color: #331313;
    border: 1px solid #331313;
    border-radius: 50px;
    display: flex;
    height: 70px;
    width: 250px;
}

.ArtistAvatar>img {
    height: 100%;
}

.ArtistAvatar {
    width: 50%;
}

.ArtistName {
    width: 50%;
    color: white;
    font-family: 'Aladdin';
    font-size: 20px;
    margin: auto;

}